<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adleraf</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>annanatascha</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>anra</key>
	<dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>christinatihansen</key>
	<dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>eleonorahofer</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>elfiekriester</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>emilmemon</key>
	<dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>evakollmar</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>fabiankochendoerfer</key>
	<dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>franziskaagrawal</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>hpberndl</key>
	<dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>ingekurtz</key>
	<dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>jpg</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>kathykissik</key>
	<dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>lilly350</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>michaelheininger</key>
	<dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>optopussies</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>peneloperichardson</key>
	<dict>
		<key>power</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>reginastaudturck</key>
	<dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>roswithavallendor</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>saanakang</key>
	<dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>sabinedresler</key>
	<dict>
		<key>democracy</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
	<key>ursuladuch</key>
	<dict>
		<key>participation</key>
		<dict>
			<key>artwork</key>
			<string></string>
			<key>images</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
