<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>democracy</key>
	<array>
		<string>adleraf</string>
		<string>annanatascha</string>
		<string>eleonorahofer</string>
		<string>elfiekriester</string>
		<string>evakollmar</string>
		<string>franziskaagrawal</string>
		<string>jpg</string>
		<string>lilly350</string>
		<string>optopussies</string>
		<string>roswithavallendor</string>
		<string>sabinedresler</string>
	</array>
	<key>power</key>
	<array>
		<string>adleraf</string>
		<string>anra</string>
		<string>elfiekriester</string>
		<string>emilmemon</string>
		<string>fabiankochendoerfer</string>
		<string>franziskaagrawal</string>
		<string>hpberndl</string>
		<string>jpg</string>
		<string>lilly350</string>
		<string>michaelheininger</string>
		<string>peneloperichardson</string>
	</array>
	<key>participation</key>
	<array>
		<string>adleraf</string>
		<string>anra</string>
		<string>christinatihansen</string>
		<string>elfiekriester</string>
		<string>emilmemon</string>
		<string>evakollmar</string>
		<string>fabiankochendoerfer</string>
		<string>franziskaagrawal</string>
		<string>hpberndl</string>
		<string>ingekurtz</string>
		<string>jpg</string>
		<string>kathykissik</string>
		<string>lilly350</string>
		<string>michaelheininger</string>
		<string>peneloperichardson</string>
		<string>reginastaudturck</string>
		<string>saanakang</string>
		<string>ursuladuch</string>
	</array>
	<key>all</key>
	<array>
		<string>adleraf</string>
		<string>annanatascha</string>
		<string>anra</string>
		<string>christinatihansen</string>
		<string>eleonorahofer</string>
		<string>elfiekriester</string>
		<string>emilmemon</string>
		<string>evakollmar</string>
		<string>fabiankochendoerfer</string>
		<string>franziskaagrawal</string>
		<string>hpberndl</string>
		<string>ingekurtz</string>
		<string>jpg</string>
		<string>kathykissik</string>
		<string>lilly350</string>
		<string>michaelheininger</string>
		<string>optopussies</string>
		<string>peneloperichardson</string>
		<string>reginastaudturck</string>
		<string>roswithavallendor</string>
		<string>saanakang</string>
		<string>sabinedresler</string>
		<string>ursuladuch</string>
	</array>
</dict>
</plist>
