<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist</key>
	<dict>
		<key>adleraf</key>
		<dict>
			<key>Key</key>
			<string>adleraf</string>
			<key>Name</key>
			<string>ADLER AF</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>agrawal</key>
		<dict>
			<key>Key</key>
			<string>agrawal</string>
			<key>Name</key>
			<string>Agrawal</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>annanatascha</key>
		<dict>
			<key>Key</key>
			<string>annanatascha</string>
			<key>Name</key>
			<string>annanatascha</string>
			<key>Artworkname</key>
			<string> Zwei Phalli prangen</string>
		</dict>
		<key>dresler</key>
		<dict>
			<key>Key</key>
			<string>dresler</string>
			<key>Name</key>
			<string>Dreßler</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>kriestnerelfie</key>
		<dict>
			<key>Key</key>
			<string>kriestnerelfie</string>
			<key>Name</key>
			<string>Elfie Kriestner</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>hofer</key>
		<dict>
			<key>Key</key>
			<string>hofer</string>
			<key>Name</key>
			<string>Hofer</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>jpg</key>
		<dict>
			<key>Key</key>
			<string>jpg</string>
			<key>Name</key>
			<string>JPG</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>kollmareva</key>
		<dict>
			<key>Key</key>
			<string>kollmareva</string>
			<key>Name</key>
			<string>Kollmar</string>
			<key>Artworkname</key>
			<string>Alles Müller oder was? Styropor oder sonst noch was?</string>
		</dict>
		<key>lilly350</key>
		<dict>
			<key>Key</key>
			<string>lilly350</string>
			<key>Name</key>
			<string>Lilly3.50</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>optopussies</key>
		<dict>
			<key>Key</key>
			<string>optopussies</string>
			<key>Name</key>
			<string>Optopussies</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
		<key>vallendor</key>
		<dict>
			<key>Key</key>
			<string>vallendor</string>
			<key>Name</key>
			<string>Vallendor</string>
			<key>Artworkname</key>
			<string></string>
		</dict>
	</dict>
	<key>Democracy</key>
	<array>
		<string>adleraf</string>
		<string>agrawal</string>
		<string>annanatascha</string>
		<string>dresler</string>
		<string>kriestnerelfie</string>
		<string>hofer</string>
		<string>jpg</string>
		<string>kollmareva</string>
		<string>lilly350</string>
		<string>optopussies</string>
		<string>vallendor</string>
	</array>
	<key>Power</key>
	<array/>
	<key>Participation</key>
	<array/>
</dict>
</plist>
